body
{
    background-image: url('/image/bg.png');
}
.div1
{
    height: 200px;
    width: 1000px;
    margin: 30px 0px 0px 120px ;
    background-image: url('/image/header.png');
}
#logo
{
    margin: -200px 0px 0px 150px ;   
}

#menu
{
    list-style-type:none;
    height: 45px;
    width: 990px;
    background:url('/image/nav.png');
margin: -4px 98px;
padding: 11px 25px;
}
#menu li
{
    float:left;
}
#menu li a
{
    display: block;
    width: 100px;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding:10px 0px 10px 20px;
}
#menu li a:hover
{
    background-color:rgb(141, 80, 37);
}
#menu ul 
{
    list-style-type: none;
    position: absolute;
    padding-left: 0px;
    display: none;
    background-color: #bf6f20;
    width: 120px;
    
}

#menu li:hover ul
{
    display: block;
}    
.main
{
    height:1205px;
    width: 1000px;
    border: px solid black;
    margin: 0px 0px 0px 120px;
    background-color:lightgray;
}
.shadow
{
    margin: 25px 0px 0px 10px;
    width: 1020px;

}
.hr1
{
    border:2.5px solid #663300;
    width: 920px;
    margin-top: 450px;
}
h2{
    font-size: 18px;
    margin-left: 50px;
    padding: 0px 80px 0px 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:initial;
    color: #000000;
}
.hr2
{
    border:1px solid #663300;
    width: 920px;
    margin-top: -20px; 
}
.pic1
{
    height: 350px;
    width:265px;
    border:4px solid white;
    margin: 30px 0px 0px 40px;
}
.img1
{
    height: 350px;
    width:265px;
}
.img1:hover
{
    opacity: 0.2;
}
.pic2
{
    height: 350px;
    width:265px;
    border:4px solid white;
    margin: -357px 0px 0px 360px;
}
.img2
{
    height: 350px;
    width:265px;
}
.img1:hover
{
    opacity: 0.2;
}
.pic3
{
    height: 350px;
    width:265px;
    border:4px solid white;
    margin: -357px 0px 0px 680px;
}
.img3
{
    height: 350px;
    width:265px;
}
.img1:hover
{
    opacity: 0.2;
}
h1
{
    font-size: 25px;
    margin-left: 50px;
    padding: 0px 80px 0px 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:initial;
    color:#663300;
    margin:20px 0px 0px 40px;
}
p
{

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 14px;
    padding: 0px 690px 0px 40px ;
}
#d1
{
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:initial;
    color:#663300;
    margin:-215px 0px 0px 360px;
}
#p1
{

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 14px;
    padding: 0px 360px 0px 0px ;
    margin:15px 0px 0px 360px;
}
#d2
{
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:initial;
    color:#663300;
    margin:-270px 0px 0px 680px;
}
#p2
{

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 14px;
    padding: 0px 10px 0px 0px ;
    margin:15px 0px 0px 680px;
}
.widg
{
    height: 350px;
    width: 1000px;
    border-top: 5px solid #bf6f20;
    margin:0px 0px 0px 120px;
  background-image: url('/image/widgets.png');
  text-shadow: 0px -1px 0px rgb(0 0 0 / 40%);

}
#d3
{
    color: #bf6f20;
    margin:30px 0px 0px 50px;
}
#p3
{
    text-align:start;
    padding:0px 720px 0px 50px;
    color:wheat;

}
h3
{
color:red;
margin-left: 50px;
font-size: 15px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3:hover
{
    text-decoration:underline;
   
}
iframe
{
    margin:-400px 0px 0px 300px;
}
#d4
{
    color: #bf6f20;
    margin:-285px 0px 0px 750px;
}
#p4
{
    text-align:justify;
    padding:0px 150px 0px 0px;
    margin:20px 0px 0px 750px;
    color:wheat;
}
#p5
{  
    
    padding:0px 0px 0px 0px;
    margin:5px 0px 0px 750px;
    color:wheat;
}
#p6
{  
    
    padding:0px 0px 0px 0px;
    margin:5px 0px 0px 750px;
    color:wheat;
}
#p7
{  
    
    padding:0px 0px 0px 0px;
    margin:5px 0px 0px 750px;
    color:wheat;
}
#p8
{  
    
    padding:0px 0px 0px 0px;
    margin:5px 0px 0px 750px;
    color:wheat;
}
#p9
{  
    
    padding:0px 0px 0px 0px;
    margin:5px 0px 0px 750px;
    color:wheat;
}
.footer
{
    height: 100px;
    width: 1000px;
    border-top: 10px solid lightgray;
    border-bottom: 1px solid #523f35;
    margin:0px 0px 0px 120px;
    background: #62493d url(/image/footer.png) repeat-x center top;
    text-shadow: 0px -1px 0 rgb(0 0 0 / 50%);
}
h4
{
    color: #e7a461;
    margin:40px 0px 0px 100px;
}
.hh
{
    margin:-19px 0px 0px 230px;
    font-family: Arial, Helvetica, sans-serif;
}
.hh:hover
{
    color: aliceblue;
    text-decoration:underline;
}
h5
{
    color: #e7a461;
    margin:-19px 0px 0px 700px;
}
.i1
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 18px;
    padding: 0px 50px 0px 0px ;
    margin:20px 0px 0px 40px;
}
.ab1
{
    font-size: 25px;
    margin-left: 50px;
    padding: 0px 80px 0px 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:initial;
    color:#bf6f20;
    margin:20px 0px 0px 40px;
}
.i2
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 18px;
    padding: 0px 50px 0px 0px ;
    margin:20px 0px 0px 40px;
}
.ab2
{
    font-size: 25px;
    margin-left: 50px;
    padding: 0px 80px 0px 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:initial;
    color:#bf6f20;
    margin:20px 0px 0px 40px;  
}
.i3
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 18px;
    padding: 0px 50px 0px 0px ;
    margin:20px 0px 0px 40px;
}
.hd
{
    text-align: center;
    color: #bf6f20;
    font-size:30px;
}
hr
{
    color: aliceblue;
}
.user
{
  height: 250px;
    width:350px;  

    margin: 0px 0px 0px 100px;
}
.u1
{
    height: 150px;
    width:150px;
    margin-left: 70px;
}
.user1
{
  height: 250px;
    width:350px;  

    margin: -254px 0px 0px 550px;
}
.u2
{
    height: 150px;
    width:150px;
    margin-left: 70px;
}
.user2
{
  height: 250px;
    width:350px;  

    margin: 0px 0px 0px 100px;
}
.u3
{
    height: 150px;
    width:150px;
    margin-left: 70px;
}
.user3
{
  height: 250px;
    width:350px;  

    margin: -254px 0px 0px 550px;
}
.u4
{
    height: 150px;
    width:150px;
    margin-left: 70px;
}
.user4
{
  height: 250px;
    width:350px;  

    margin: 0px 0px 0px 100px;
}
.u5
{
    height: 150px;
    width:150px;
    margin-left: 70px;
}
.user5
{
  height: 250px;
    width:350px;  

    margin: -254px 0px 0px 550px;
}
.u6
{
    height: 150px;
    width:150px;
    margin-left: 70px;
}
.user6
{
  height: 250px;
    width:350px;  

    margin: 0px 0px 0px 100px;
}
.u7
{
    height: 150px;
    width:150px;
    margin-left: 70px;
}
.user7
{
  height: 250px;
    width:350px;  

    margin: -254px 0px 0px 550px;
}
.u8
{
    height: 150px;
    width:150px;
    margin-left: 70px;
}
h6
{
    font-size: 20px;
    margin-top: -10px;
}



